/* Background Color */
body {
  /*background-color: Wheat;*/
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Flag_of_the_German_Reich_%281935%E2%80%931945%29.svg/1200px-Flag_of_the_German_Reich_%281935%E2%80%931945%29.svg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  margin-top: -100;
}

/* Text Properties */
* {
  /*border: 1px solid rgba(0, 0, 0, 0.3);*/
  color: Black;
}

h1, h2 {
  background-color: rgba(255, 0, 0, 0.8);
  margin: 10px;
  text-transform: uppercase;
  width: 50%;
}

h2, p{
  font-family: arial, sans-serif;
}

h1 {
  font-family: Georgia, serif;
  font-size: 65px;
  text-align: left;
}

h2 {
  font-size: 25px;
}

h3 {
  font-family: arial, sans-serif;
  font-size: 20px;
}

p {
  font-size: 25px;
  font-weight: normal;
}

/* Classes */
.meme-and-texts {
  background-image: url("http://www.trbimg.com/img-57fd09fa/turbine/la-na-pol-pepe-the-frog-hate-symbol-20161011-snap");
  box-shadow: 2px 2px 5px #888888;
  margin-bottom: 50px;
  max-height: 500px;
  min-height: 400px;
  width: 100%;
  text-align: left;
}

.information {
  /*background-color: rgb(254, 255, 237);*/
  background-color: White;
  box-shadow: 2px 2px 5px #888888;
  margin-bottom: 10px;
  /*overflow: scroll;*/
  padding: 10px 10px;
  text-align: left;
}

.photo-label {
  /*background-color: rgb(254, 255, 237);*/
  background-color: White;
  box-shadow: 2px 2px 5px #888888;
  margin-top: 10px;
  /*overflow: scroll;*/
  padding: 5px 10px;
  text-align: left;
}
